DB_URL=
DB_USER=
DB_PASSWORD=

MAX_HTTP_FORM_POST_SIZE=
MAX_SWALLOW_SIZE=
MAX_FILE_SIZE=
MAX_REQUEST_SIZE=

SECRET_KEY=

PATH_VIDEOS_ROOT=
PATH_THUMBNAIL_ROOT=
PATH_SNAPSHOT_ROOT=

FFMPEG_PATH=
FFPROBE_PATH=